<h1>New post</h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: 'Post title' %>
  </div>

  <div>
    <%= f.text_area :markdown_text %>
  </div>

  <div>
    <%= f.submit 'Create post' %>
  </div>
<% end %>